// PostgreSQL configuration
HOST=
PORT=
USERNAME=
PASSWORD=
DATABASE=

// Redis configuration
REDIS_URL=


ACCESS_TOKEN_SECRETKEY=
REFRESH_TOKEN_SECRETKEY=


// Email configuration Mailtrap credentials
EMAIL_USER=
EMAIL_PASSWORD=